*.lo
*.la
*.o
.deps
.libs
*.swp
*~
.dirstamp
tags
libtool
ltmain.sh
m4/*
Makefile*
*.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
example/data
autom4te.cache
example/ndpiReader
INSTALL
compile
install-sh
*.pc
missing
